.center {
	text-align: center;
}

#all-graph-container {
	display: flex;
	flex-direction: column;
}

.large-graph-container {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	align-items: center;
}

/* Senza stile #plot1 non fa i grafici! */
#plot1 {
	width: 700px;
	height: 640px;
}

.node rect {
	cursor: pointer;
	fill-opacity: 0.9;
	shape-rendering: crispEdges;
	transition: opacity 0.3s ease;
}

.node text {
	pointer-events: none;
	font-size: 0.9rem;
	fill: #333;
}

.link {
	fill: none;
	stroke-opacity: 0.2;
	transition: stroke-opacity 0.3s ease;
}

@media (max-width: 768px) {
	#content-wrap {
		padding: 1rem;
	}

	#plot1 {
		height: 400px;
	}

	.node text {
		font-size: 0.8rem;
	}
}
