body {
	margin: 0;
	font-family: "Fira Sans";
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 3rem;
}

.center {
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto Slab";
}

nav {
	font-size: 22px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2e68c0;
	color: whitesmoke;
	height: 6.5rem;
}

#title {
	margin: 0;
}

#all-graph-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.graph-container {
	display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.graph-titles {
	margin: 0;
}

.description {
	width: 550px;
    height: 550px;
    display: flex;
    font-size: large;
    line-height: 1.7;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10rem;

	color: whitesmoke;
	background-color: #2e68c0;
	text-align: center;
	align-content: center;
}

#footer-container {
	display: flex;
	justify-content: space-around;
}

#footer-left {
	display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer-right {
	display: flex;
    flex-direction: row;
    align-items: center;
}
    
#footer-list {
	display: flex;
    flex-direction: column;
	align-items: flex-start;
	margin-left: 15px;
}

span {
	margin: 4px;
}

#span-footer {
	color: whitesmoke;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
