body {
	margin: 0;
	font-family: "Fira Sans";
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 3rem;
}

#sections-container {
	margin-top: 30px;
	margin-left: 100px;
	display: flex;
	flex-direction: column;
}
/*
.section {
				SECTION = Link + Descrizione + ...?
}
*/

.center {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto Slab";
	/*margin: 0.2rem;*/
}

p {
	text-align: left;
}

/*
nav {
	font-size: 22px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2e68c0;
	color: whitesmoke;
	height: 6.5rem;
}
*/

#topnav {
	display: block;
	overflow: hidden;
	color: whitesmoke;
	background-color: #2e68c0;
	position: relative;
}

#topnav #dropdown-menu {
	display: none;
}

#topnav #title {
	font-size: 22px;
	padding-top: 14px;
	padding-bottom: 14px;
}

#topnav a {
	width: fit-content;
	color: whitesmoke;
	margin-left: 35px;
	text-decoration: none;
	display: block;
}

#topnav .links {
	margin-bottom: 28px;
}

#topnav a.icon {
	padding: 0px;
	position: absolute;
	right: 55px;
	top: 55px;
}

#all-graph-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 200px;
}

.graph-container {
	display: flex;
	justify-content: space-evenly;
	margin-top: 80px;
	margin-bottom: 140px;
}

.large-graph-container {
	display: flex;
	flex-direction: column;
	margin-top: 80px;
	margin-bottom: 140px;
	align-items: center;
}

.graph-titles {
	margin: 0;
}

.description {
	width: 550px;
	height: 550px;
	display: flex;
	font-size: large;
	line-height: 1.7;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.large-description {
	width: 1000px;
	display: flex;
	font-size: large;
	line-height: 1.7;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	margin-top: 50px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10rem;

	color: whitesmoke;
	background-color: #2e68c0;
	text-align: center;
	align-content: center;
}

#footer-container {
	display: flex;
	justify-content: space-evenly;
}

#footer-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
}

#footer-center {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
}

#footer-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 40%;
}

#footer-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 15px;
}

span {
	margin: 4px;
}
